<app-breadcrumb-general></app-breadcrumb-general>
<p-card>
    <div class="p-grid">
        <!-- <div class="p-col-12 p-md-1" pTooltip="Regargar contenido de tabla" tooltipPosition="top">
           <p-button type="button" icon="pi pi-refresh" (click)="resetTable()" styleClass="p-button-text"></p-button>
        </div>-->
        <div [controlAcceso]="'crear'" class="p-col-12 p-md-12 p-text-right">
            <button pButton pRipple type="button" label="Adicionar" class="p-button-raised" icon="pi pi-plus"
                (click)="crear()"></button>
        </div>
    </div>

    <p-table [controlAcceso]="'ver'" #dt [value]="listaTabla" [lazy]="true" (onLazyLoad)="loadData($event)"
        [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="totalRecords" [loading]="loading"
        styleClass="p-datatable-striped p-datatable-responsive-general" [rowsPerPageOptions]="[10,25,50]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <!--<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearTable(dt)"></button>-->
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target , 'contains')"
                        placeholder="Buscar...." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Cliente</th>
                <!--<th>Telefono</th>
                <th>Correo</th>-->
                <!--<th>NIT</th>-->
                <th>Dependencia Nivel</th>
                <!--<th>Dependencia</th>
                <th>Nivel</th>-->
                <th>Localización</th>
                <!--<th>Departamento</th>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Ciudad</th>
                <th>Dirección</th>-->
                <th>Tipo Subsector</th>
                <!--<th>Subsector</th>
                <th>Tipo</th>-->
                <th style="width:8em">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
            <tr>
                <td>
                    <span class="p-column-title">Cliente</span>
                    <div>
                        {{dato.nombre}}<br>
                        <small>
                            <i><b>NIT: </b>{{dato.nit}}</i><br>
                            <i><b>Tel: </b>{{dato.telefono}} </i><br>
                            <i><b>e-mail: </b>{{dato.correo}}</i>
                        </small>
                    </div>
                </td>
                <!-- <td>
                    <span class="p-column-title">Telefono</span>
                    {{dato.telefono}}
                </td>
                <td>
                    <span class="p-column-title">Correo</span>
                    {{dato.correo}}
                </td>-->
                <!--<td>
                    <span class="p-column-title">NIT</span>
                    {{dato.nit}}
                </td>-->
                <td>
                    <span class="p-column-title">Dependencia Nivel</span>
                    <div>
                        <small><i><b>Depen.: </b></i></small>{{dato.dependencia?.valor}}<br>
                        <small><i><b>Nivel: </b></i></small>{{dato.nivel?.valor}}
                    </div>
                </td>
                <!--<td>
                    <span class="p-column-title">Dependencia</span>
                    {{dato.dependencia?.valor}}
                </td>
                <td>
                    <span class="p-column-title">Nivel</span>
                    {{dato.nivel?.valor}}
                </td>-->
                <td>
                    <span class="p-column-title">Localización</span>
                    <div>
                        <small><i><b>Dep.: </b></i></small>{{dato.departamento?.valor}}<br>
                        <small><i><b>Prov.: </b></i></small>{{dato.provincia?.valor}}<br>
                        <small><i><b>Cuidad: </b></i></small>{{dato.ciudad}}<br>
                        <small><i><b>Dir: </b></i></small>{{dato.direccion}}
                    </div>
                </td>

                <!-- <td>
                    <span class="p-column-title">Departamento</span>
                    {{dato.departamento?.valor}}
                </td>
                <td>
                    <span class="p-column-title">Provincia</span>
                    {{dato.provincia?.valor}}
                </td>
                <td>
                    <span class="p-column-title">Municipio</span>
                    {{dato.provincia?.municipio}}
                </td>
                <td>
                    <span class="p-column-title">Ciudad</span>
                    {{dato.ciudad}}
                </td><td>
                    <span class="p-column-title">Dirección</span>
                    {{dato.direccion}}
                </td>-->
                <td>
                    <span class="p-column-title">Tipo Subsector</span>
                    <div>
                        <small><i><b>Tipo: </b></i></small>{{dato.tipo?.valor}}<br>
                        <small><i><b>Subsector: </b></i></small>{{dato.subsector?.valor}}
                    </div>
                </td>
                <!--<td>
                    <span class="p-column-title">Subsector</span>
                    {{dato.subsector?.valor}}
                </td>
                <td>
                    <span class="p-column-title">Tipo</span>
                    {{dato.tipo?.valor}}
                </td>-->
                <td>
                    <span class="p-column-title">Accion</span>

                    <span [controlAcceso]="'ver'" class="icon-table"><i (click)="ver(dato)" class="pi pi-eye"
                            pTooltip="Ver" tooltipPosition="top" placeholder="Top"></i></span>

                    <span [controlAcceso]="'editar'" class="icon-table"><i (click)="editar(dato)" class="pi pi-pencil"
                            pTooltip="Editar" tooltipPosition="top" placeholder="Top"></i></span>

                    <span [controlAcceso]="'eliminar'" class="icon-table"><i (click)="eliminar($event,dato)"
                            class="pi pi-times" pTooltip="Eliminar" tooltipPosition="top" placeholder="Top"></i></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-formulario-cliente #frm (respform)="respform($event)"></app-formulario-cliente>