<p-dialog [header]="displayHeader" [(visible)]="displayFrm" [modal]="true" styleClass="dialog-responsive-50"
    [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="formulario" *ngIf="tipo!='ver'">
        <input id="id" type="hidden" pInputText>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="codigo" type="text" id="inp_codigo" pInputText>
                    <label for="inp_codigo">AL1. Código<span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['codigo']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <p-autoComplete formControlName="regional" inputId="inp_regional" [suggestions]="param.param_regional"
                        (completeMethod)="getFilter($event,'param_regional')" field="nombre" [minLength]="1"
                        [dropdown]="true" (onSelect)="selectRegional($event)" (onKeyUp)="limpiarReginalDependencia()">
                        <ng-template let-data pTemplate="item">
                            <div><b>({{data.codigo}})</b> {{data.nombre}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="inp_regional">R2. Regional <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['regional']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <p-autoComplete formControlName="programa" inputId="inp_programa" [suggestions]="param.param_programa"
                        (completeMethod)="getFilter($event,'param_programa')" field="nombre" [minLength]="1"
                        [dropdown]="true">
                        <ng-template let-data pTemplate="item">
                            <div><b>({{data.codigo}})</b> {{data.nombre}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="inp_programa">PR3. Programa <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['programa']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="nombre" type="text" id="inp_nombre" pInputText>
                    <label for="inp_nombre">AL4. Nombre <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nombre']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <textarea formControlName="direccion" inputId="inp_direccion" rows="2" cols="30"
                        pInputTextarea></textarea>
                    <label for="inp_direccion">AL5. Dirección</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['direccion']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="telefono" type="text" id="inp_telefono" pInputText>
                    <label for="inp_telefono">AL6. Telefono <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['telefono']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
        </div>
    </form>
    <div *ngIf="tipo=='ver'">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">AL1. Código</span>
                {{datos.codigo}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R2. Regional</span>
                {{datos.regional.nombre}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">PR3. Programa</span>
                {{datos.programa.nombre}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">AL4. Nombre</span>
                {{datos.nombre}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">AL5. Dirección</span>
                {{datos.direccion}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">AL6. Telefono</span>
                {{datos.telefono}}
            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button (click)="displayFrm=false;" icon="pi pi-times" label="Cerrar"
            styleClass="p-button-raised p-button-text"></p-button>
        <p-button (click)="confirmarGuardar($event)" label="Guardar" icon="pi pi-save" *ngIf="tipo=='crear'"></p-button>

        <p-button (click)="confirmarEditar($event)" label="Modificar" icon="pi pi-save" *ngIf="tipo=='editar'">
        </p-button>
    </ng-template>
</p-dialog>