<p-dialog [header]="displayHeader" [(visible)]="displayFrm" [modal]="true" styleClass="dialog-responsive-50"
    [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="formulario"  *ngIf="tipo!='ver'">
        <input id="id" type="hidden" pInputText>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="codigo" type="text" id="inp_codigo" pInputText>
                    <label for="inp_codigo">R1. Código<span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['codigo']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="nombre" type="text" id="inp_nombre" pInputText>
                    <label for="inp_nombre">R2. Nombre <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nombre']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <p-autoComplete formControlName="departamento" inputId="inp_pais" [suggestions]="param.param_departamentos_bol"
                        (completeMethod)="getFilter($event,'param_departamentos_bol')" field="valor" [minLength]="1"
                        [dropdown]="true">
                        <ng-template let-data pTemplate="item">
                            <div><b>({{data.codigo}})</b> {{data.valor}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="inp_departamento">R3. Departamento <span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['departamento']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <textarea formControlName="direccion" inputId="inp_direccion" rows="2" cols="30"
                        pInputTextarea></textarea>
                    <label for="inp_direccion">R4. Dirección</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['direccion']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="telefono" type="text" id="inp_telefono" pInputText>
                    <label for="inp_telefono">R5. Telefono </label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['telefono']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
        </div>
    </form>
    <div *ngIf="tipo=='ver'">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R1. Código</span>
                {{datos.codigo}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R2. Nombre</span>
                {{datos.nombre}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R3. Departamento</span>
                {{datos.departamento.valor}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R4. Dirección</span>
                {{datos.direccion}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">R5. Telefono</span>
                {{datos.telefono}}
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button (click)="displayFrm=false;" icon="pi pi-times" label="Cerrar"
            styleClass="p-button-raised p-button-text"></p-button>
        <p-button (click)="confirmarGuardar($event)" label="Guardar" icon="pi pi-save" *ngIf="tipo=='crear'"></p-button>

        <p-button (click)="confirmarEditar($event)" label="Modificar" icon="pi pi-save" *ngIf="tipo=='editar'">
        </p-button>
    </ng-template>
</p-dialog>