<app-breadcrumb-general></app-breadcrumb-general>
<p-card *ngIf="viewTable">
    <div class="p-grid">
        <!-- <div class="p-col-12 p-md-1" pTooltip="Regargar contenido de tabla" tooltipPosition="top">
           <p-button type="button" icon="pi pi-refresh" (click)="resetTable()" styleClass="p-button-text"></p-button>
        </div>-->
        <div [controlAcceso]="'crear'" class="p-col-12 p-md-12 p-text-right">
            <button pButton pRipple type="button" label="Adicionar" class="p-button-raised" icon="pi pi-plus"
                (click)="crear()"></button>
        </div>
    </div>

    <p-table [controlAcceso]="'ver'" #dt [value]="listaTabla" [lazy]="true" (onLazyLoad)="loadData($event)"
        [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="totalRecords" [loading]="loading"
        styleClass="p-datatable-striped p-datatable-responsive-general" [rowsPerPageOptions]="[10,25,50]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <!--<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearTable(dt)"></button>-->
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target , 'contains')"
                        placeholder="Buscar...." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Codigo</th>
                <th>Cliente</th>
                <th controlAccesoPrivilegio>Regional</th>
                <th>Almacen</th>
                <th>Dias de<br>valides</th>
                <th>Estado</th>
                <th style="width:9em">Accion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
            <tr>
                <td>
                    <span class="p-column-title">Codigo</span>
                    {{dato?.codigo}}
                </td>
                <td>
                    <span class="p-column-title">Cliente</span>
                    {{dato?.id_cliente.nombre}}
                </td>
                <td controlAccesoPrivilegio>
                    <span class="p-column-title">Regional</span>
                    {{dato?.id_regional.nombre}}
                </td>
                <td>
                    <span class="p-column-title">Almacen</span>
                    {{dato?.id_almacen.nombre}}
                </td>
                <td>
                    <span class="p-column-title">Dias de valides</span>
                    {{dato?.dias_validez}}
                </td>
                <td>
                    <span class="p-column-title">Estado</span>
                    <p-tag *ngIf="dato.estado=='VIGENTE'"  styleClass="p-mr-2" icon="pi pi-clock" severity="info" value="Vigente"></p-tag>
                    <p-tag *ngIf="dato.estado=='COMPLETADA'"  styleClass="p-mr-2" icon="pi pi-check" severity="success" value="Completada"></p-tag>
                    <p-tag *ngIf="dato.estado=='CADUCADA'"  styleClass="p-mr-2" icon="pi pi-trash" severity="danger" value="Caducada"></p-tag>
                </td>

                <td>
                    <span class="p-column-title">Accion</span>
                    <span [controlAcceso]="'ver'" class="icon-table"><i class="pi pi-print" pTooltip="Imprimir"
                        tooltipPosition="top" placeholder="Top" (click)="getCotizacion(dato.id)"></i></span>

                    <span [controlAcceso]="'ver'" class="icon-table"><i (click)="ver(dato)" class="pi pi-eye"
                            pTooltip="Ver" tooltipPosition="top" placeholder="Top"
                            ></i></span>

                    <span [controlAcceso]="'editar'" class="icon-table"><i (click)="editar(dato)" class="pi pi-pencil"
                            pTooltip="Editar" tooltipPosition="top" placeholder="Top"
                            *ngIf="dato?.estado=='PENDIENTE'"></i></span>

                    <span [controlAcceso]="'eliminar'" class="icon-table"><i (click)="eliminar($event,dato)"
                            class="pi pi-times" pTooltip="Eliminar" tooltipPosition="top" placeholder="Top"
                            *ngIf="dato?.estado=='PENDIENTE'"></i></span>
                    

                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-formulario-cotizacion #frm (respform)="respform($event)"></app-formulario-cotizacion>
<p-card *ngIf="verDatos">
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-10">
            <span style="font-size: 2em;">Ver datos de entrada</span>
        </div>
        <div class="p-field p-col-12 p-md-2">
            <p-button label="Volver" icon="pi pi-chevron-left" (click)="viewTable = true;verDatos=false;"></p-button>
        </div>
    </div>
    <app-view-cotizacion-item-cotizacion #ver></app-view-cotizacion-item-cotizacion>
</p-card>