<div class="p-grid">
    <h1>{{titulo}}</h1>
</div>
<p-messages severity="info">
    <ng-template pTemplate>
        <i class="pi pi-info-circle"></i>
        <div class="p-ml-2">Solo puede tener un LINADIME activa, si inactiva todas los registros LINADIME podria afectar a otros modulos la cual requiera de estos datos.</div>
    </ng-template>
</p-messages>
<p-messages severity="info">
    <ng-template pTemplate>
        <i class="pi pi-info-circle"></i>
        <div class="p-ml-2">Cuando active una LINADIME todas las demas se inhabilitaran.</div>
    </ng-template>
</p-messages>

<p-card>
 

    <div class="p-grid">
        <!-- <div class="p-col-12 p-md-1" pTooltip="Regargar contenido de tabla" tooltipPosition="top">
           <p-button type="button" icon="pi pi-refresh" (click)="resetTable()" styleClass="p-button-text"></p-button>
        </div>-->
        <div [controlAcceso]="'crear'" class="p-col-12 p-md-12 p-text-right">
            <button  pButton pRipple type="button" label="Adicionar" class="p-button-raised" icon="pi pi-plus"
                (click)="dialogAddLinadime()"></button>
        </div>
    </div>
    <p-table #dt [value]="listaLinadime" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="rows"
        [(first)]="first" [totalRecords]="totalRecords" [loading]="loading"
        styleClass="p-datatable-striped p-datatable-responsive-general" [rowsPerPageOptions]="[5,10,25,50]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <!--<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearTable(dt)"></button>-->
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target , 'contains')" placeholder="Buscar...." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Comentario</th>
                <th style="width:7em">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-linadime>
            <tr>
                <td>
                    <span class="p-column-title">Código</span>
                    {{linadime.codigo}}
                </td>
                <td>
                    <span class="p-column-title">Fecha</span>
                    {{linadime.f_crea | date :'dd/MM/YYYY'}}
                </td>
                <td>
                    <span class="p-column-title">Estado</span>
                    <p-tag *ngIf="linadime.activo=='activo'"  styleClass="p-mr-2" icon="pi pi-check" severity="success" value="Activo"></p-tag>
                    <p-tag *ngIf="linadime.activo=='inactivo'"  styleClass="p-mr-2" icon="pi pi-info-circle" severity="info" value="Inactivo"></p-tag>
                </td>
                <td>
                    <span class="p-column-title">Comentario</span>
                    {{linadime.comentario}}
                </td>
                <td>
                    <span class="p-column-title">Accion</span>

                    <span [controlAcceso]="'editar'" class="icon-table"><i (click)="activarInactivar($event,linadime.activo,linadime.codigo,linadime.id)" class="pi pi-check-circle" pTooltip="Acivar/Inactivar" tooltipPosition="top" placeholder="Top"></i></span>

                    <span [controlAcceso]="'descargar'" class="icon-table"><i (click)="descargarLinadime(linadime.id)" class="pi pi-download" pTooltip="Descargar archivo que se consolido" tooltipPosition="top"  placeholder="Top"></i></span>
                        

                </td>
            </tr>
        </ng-template>
    </p-table>

</p-card>

<!-- file upload-->
<p-dialog header="Adicionar un nuevo documento LINADIME" [(visible)]="displayFrmUpload" [modal]="true"
    [style]="{width: '70vw'}" [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="uploadForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstname1">Documentos a adjuntar</label>
                <input id="firstname1" type="hidden" pInputText>
                <p-fileUpload mode="basic" #fubauto chooseLabel="Seleccionar" (onClear)="updateUpload(null)"
                    accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    (onSelect)="updateUpload('done');"></p-fileUpload>
                <app-mesaje-form-error [control]="uploadForm.controls['archivo']" [valid]="uploadFormValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field" *ngIf="uploadForm.value['archivo']!=null">
                <button pButton pRipple icon="pi pi-trash" type="button" label="Quitar Archivo"
                    class="p-button-raised p-button-danger" (click)="fubauto.clear()"></button>
            </div>
            <div class="p-field">
                <label for="comen">Comentario</label>
                <textarea formControlName="comentarios" [rows]="5" [cols]="30" pInputTextarea></textarea>
                <app-mesaje-form-error [control]="uploadForm.controls['comentarios']" [valid]="uploadFormValid">
                </app-mesaje-form-error>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="displayFrmUpload=false;fubauto.clear();" icon="pi pi-times" label="Cerrar"
            styleClass="p-button-raised p-button-text"></p-button>
        <p-button (click)="confirmUpload($event)" label="Verificar" icon="pi pi-upload"></p-button>
    </ng-template>
</p-dialog>


<!-- error display-->
<p-dialog [contentStyle]="{'overflow':'visible'}" header="Errores del documento subido" [(visible)]="uploadConfirmModal"
    [position]="'top'" [modal]="true" [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div *ngIf="datosValidosExcel!=null">
        <p>Tiene datos invalidos en el archivo favor corriga los los datos y vuelva a subir el documento</p>
        <p><strong>Datos validos :</strong>{{datosValidosExcel?.valid}}</p>
        <p><strong>Datos invalidos: </strong>{{datosValidosExcel?.invalid}}</p>
        <h3>Lista de registros no validos</h3>
        <p-scrollPanel [style]="{width: '100%', height: '200px'}">
            <div style="padding:1em;line-height:1.5">
                <p-table [value]="datosValidosExcel?.obs" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:3em">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>ÍTEM</th>
                            <th>CÓDIGO</th>
                            <th>DISPOSITIVO</th>
                            <th>ESPECIFICACIÓN TÉCNICA</th>
                            <th>PRESENTACIÓN</th>
                            <th>I</th>
                            <th>II</th>
                            <th>II</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obs>
                        <tr>
                            <td>{{obs.fila}}</td>
                            <td>
                                {{obs.A}}
                            </td>
                            <td>
                                {{obs.B}}
                            </td>
                            <td>
                                {{obs.C}}
                            </td>
                            <td>
                                {{obs.D}}
                            </td>
                            <td>
                                {{obs.E}}
                            </td>
                            <td>
                                {{obs.F}}
                            </td>
                            <td>
                                {{obs.G}}
                            </td>
                            <td>
                                {{obs.H}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-scrollPanel>
    </div>
    <div *ngIf="datosValidosExcel==null">
        <h3>No se pudo verificar el archivo.</h3>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="uploadConfirmModal=false;resetFormValidUpload()"
            label="Cerrar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<!--modal acept-->
<p-dialog header="Confirmar" [(visible)]="displayModalCargarDatos" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p class="p-m-0"> 
        <i class="pi pi-exclamation-triangle" style="font-size: 1.5em;"></i> ¿Esta seguro de consolidar el documento linadime?.
    </p>
    <ng-template pTemplate="footer">
        <p-button (click)="displayModalCargarDatos=false;" icon="pi pi-times" label="Cerrar"
            styleClass="p-button-raised p-button-text"></p-button>
        <p-button (click)="confirmConsolidar($event)" label="Consolidar" icon="pi pi-upload"></p-button>
    </ng-template>
</p-dialog>s