<h2>Datos Generales</h2>
<div class="p-fluid p-grid" *ngIf="ver$ | async">
    <div class="p-field p-col-12 p-md-6">
        <h4>CT1. Código</h4>
        {{entrada.codigo}}
    </div>
    <div class="p-field p-col-12 p-md-6">
        <h4>R2. Regional</h4>
        {{entrada.id_regional?.nombre}}
    </div>
    <div class="p-field p-col-12 p-md-12">
        <h4>C3. Cliente</h4>
        {{entrada.id_almacen?.nombre}}
    </div>
    <div class="p-field p-col-12 p-md-6">
        <h4>A4. Almacen</h4>
        {{entrada.id_almacen?.nombre}}
    </div>
    <div class="p-field p-col-12 p-md-6">
        <h4>C5. Dias validez</h4>
        {{entrada.dias_validez}}
    </div>
    <div class="p-field p-col-12 p-md-12">
        <h4>C6. Comentarios</h4>
        {{entrada.comentarios}}
    </div>
</div>
<h2>Items</h2>

<p-table [controlAcceso]="'ver'" #dt [value]="listaTabla" [lazy]="true" (onLazyLoad)="loadData($event)"
    [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="totalRecords" [loading]="loading"
    styleClass="p-datatable-striped p-datatable-responsive-general" [rowsPerPageOptions]="[10,25,50]"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [showCurrentPageReport]="true"
    class="tabla-min">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <!--<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearTable(dt)"></button>-->
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target , 'contains')"
                    placeholder="Buscar...." />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Producto</th>
            <th>Lote</th>
            <th style="width:6em">Fecha expiración</th>
            <th>Cant.</th>
            <th>Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
        <tr>
            <td>
                <span class="p-column-title">Producto</span>
                <span style="word-wrap: break-word;"> 
                    <b>Cod.: {{dato?.id_producto_inventario.codigo}}</b><br>
                    {{dato?.id_producto_inventario.nombre_comercial}}
                </span>
            </td>
            <td>
                <span class="p-column-title">Lote</span>
                <span style="word-wrap: break-word; "> {{dato?.lote}}</span>
            </td>
            <td>
                <span class="p-column-title">Fecha expiración</span>
                {{dato?.fecha_exp}}
            </td>
            <td>
                <span class="p-column-title">Cant</span>
                {{dato?.cantidad}}
            </td>
            <td>
                <span class="p-column-title">Total</span>
                {{dato?.precio_total | number:'1.0-5'}}
            </td>
        </tr>
    </ng-template>
</p-table>