<div class="conten-animado" >
    <div class="p-grid p-jc-center p-ai-center vertical-container">
        <div class="p-col-12 p-md-6 p-lg-6" style="z-index: 10;">
            <p-card>
                <h3>Ingreso</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="firstname1">Usuario</label>
                            <input id="firstname1" type="text" pInputText formControlName="user">
                            <app-mesaje-form-error [control]="loginForm.controls['user']" [valid]="loginFormValid">
                            </app-mesaje-form-error>
                        </div>

                        <div class="p-field">
                            <label for="lastname1">Contraseña</label>
                            <p-password [toggleMask]="true" [feedback]="false" formControlName="pass"></p-password>
                            <app-mesaje-form-error [control]="loginForm.controls['pass']" [valid]="loginFormValid">
                            </app-mesaje-form-error>
                        </div>

                    </div>
                    <button pButton pRipple type="button" label="Ingresar" type="submit"></button>

                </form>
            </p-card>
        </div>
    </div>
    <!--
    <section class="fondo-css">
        <ul class="cuadrados">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>-->
</div>
