<div class="p-grid p-jc-center p-ai-center vertical-container">
    <div class="p-col-12 p-md-6 p-lg-6">
        <p-card>
            <h3>Ingreso</h3>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="firstname1">Usuario</label>
                    <input id="firstname1" type="text" pInputText>
                </div>
                <div class="p-field">
                    <label for="lastname1">Contraseña</label>
                    <p-password [toggleMask]="true"></p-password>
                </div>
            </div>
            <button pButton pRipple type="button" label="Ingresar" (click)="ingresar();"></button>
        </p-card>
    </div>
</div>
