<br>
<p-card [header]="displayHeader" *ngIf="displayFrm">

    <form [formGroup]="formulario">
        <input id="id" type="hidden" pInputText>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="codigo" type="text" id="inp_codigo" pInputText>
                    <label for="inp_codigo">P1. Codigo<span class="text-danger">*</span></label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['codigo']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-8">
                <span class="p-float-label">
                    <input formControlName="nombre_comercial" type="text" id="inp_nombre_comercial" pInputText>
                    <label for="inp_nombre_comercial">P2. Nombre</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nombre_comercial']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-autoComplete formControlName="codigo_liname" inputId="inp_liname"
                        [suggestions]="param['param_liname']" (completeMethod)="getFilter($event,'param_liname')"
                        field="cod_liname" [minLength]="1" [dropdown]="true" (onSelect)="selectLiname($event)">
                        <ng-template let-adata pTemplate="item">
                            <div>
                                <b>({{adata.cod_liname}})</b> {{adata.medicamento}} <b>ATQ: </b>{{adata.class_atq}} <br>
                                <b>Concentracion: </b>{{adata.concen}}<b>For. farma: </b>{{adata.for_farma}}<br>
                                <b>Pre. refe.: </b>{{adata.pre_ref}}<b>Acla. parti: </b>{{adata.aclara_parti}}
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="inp_dependencia">P3. Codigo LINAME</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['dependencia']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-autoComplete formControlName="codigo_linadime" inputId="inp_codigo_linadime"
                        [suggestions]="param['param_linadime']" (completeMethod)="getFilter($event,'param_linadime')"
                        field="cod_linadime" [minLength]="1" [dropdown]="true" (onSelect)="selectLinadime($event)">
                        <ng-template let-adata pTemplate="item">
                            <div>
                                <b>({{adata.cod_linadime}})</b> {{adata.dispositivo}}<br>
                                <b>Esp. tec.: </b>{{adata.esp_tec}}<b>Presentacion: </b>{{adata.presen}}<br>
                                <b>I: </b>{{adata.niv_uso_I}}<b>II: </b>{{adata.niv_uso_II}}<b>III:
                                </b>{{adata.niv_uso_III}}
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="inp_codigo_linadime">P4. Codigo LINADIME</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['codigo_linadime']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="reg_san" type="text" id="inp_reg_san" pInputText>
                    <label for="inp_reg_san">P5. Registro sanitario</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['reg_san']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <textarea formControlName="referencia" id="inp_referencia" rows="2" cols="30"
                        pInputTextarea></textarea>
                    <label for="inp_referencia">P6. Referencia</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['referencia']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
        </div>
        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-tags p-mr-2"></i>
                <b>Datos medicamento</b>
            </div>
        </p-divider>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="medicamento" type="text" id="inp_medicamento" pInputText>
                    <label for="inp_medicamento">P7. Medicamento</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['medicamento']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                    <input formControlName="form_farm" type="text" id="inp_form_farm" pInputText>
                    <label for="inp_form_farm">P8. Forma farmaceutica</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['form_farm']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                    <input formControlName="concen" type="text" id="inp_concen" pInputText>
                    <label for="inp_concen">P9. Concentración</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['concen']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="atq" type="text" id="inp_atq" pInputText>
                    <label for="inp_atq">P10. ATQ</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['atq']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="precio_ref" type="text" id="imp_precio_ref" pInputText>
                    <label for="imp_precio_ref">P11. Precio referencial</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['precio_ref']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="aclara_parti" type="text" id="imp_aclara_parti" pInputText>
                    <label for="imp_aclara_parti">P12. Aclaracion de particula</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['aclara_parti']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
        </div>
        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-tags p-mr-2"></i>
                <b>Datos dispositivo</b>
            </div>
        </p-divider>

        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="p-float-label">
                    <input formControlName="dispositivo" type="text" id="imp_dispositivo" pInputText>
                    <label for="imp_dispositivo">P13. Dispositivo</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['dispositivo']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                    <input formControlName="especificacion_tec" type="text" id="imp_especificacion_tec" pInputText>
                    <label for="imp_especificacion_tec">P14. Especificacion tecnica</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['especificacion_tec']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                    <input formControlName="presentacion" type="text" id="imp_presentacion" pInputText>
                    <label for="imp_presentacion">P15. Presentación</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['presentacion']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="nivel_uso_i" type="text" id="imp_nivel_uso_i" pInputText>
                    <label for="imp_nivel_uso_i">P16. Nivel de uso I</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nivel_uso_i']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="nivel_uso_ii" type="text" id="imp_nivel_uso_ii" pInputText>
                    <label for="imp_nivel_uso_ii">P17. Nivel de uso II</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nivel_uso_ii']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input formControlName="nivel_uso_iii" type="text" id="imp_nivel_uso_iii" pInputText>
                    <label for="imp_nivel_uso_iii">P18. Nivel de uso III</label>
                </span>
                <app-mesaje-form-error [control]="formulario.controls['nivel_uso_iii']" [valid]="formularioValid">
                </app-mesaje-form-error>
            </div>
        </div>
        <div class="p-grid p-jc-end ">

            <div class="p-col-12 p-md-3 p-lg-3">
                <p-button (click)="cerrarForm();" icon="pi pi-times" label="Cerrar"
                    styleClass="p-button-raised p-button-text cont-menu-responsive"></p-button>
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <p-button (click)="confirmarEditar($event)" styleClass="cont-menu-responsive" label="Modificar"
                    icon="pi pi-save" *ngIf="tipo=='editar'">
                </p-button>
                <p-button (click)="confirmarGuardar($event)" styleClass="cont-menu-responsive" label="Guardar"
                    icon="pi pi-save" *ngIf="tipo=='crear'">
                </p-button>
            </div>
        </div>
    </form>
</p-card>

<p-dialog [header]="displayHeader" [(visible)]="displayDialog" [modal]="true" styleClass="dialog-responsive-80"
    [contentStyle]="{'overflow':'visible'}" [position]="'top'">
    <p-scrollPanel styleClass="custombar-bar dialog-responsive-scroll" [style]="{ height: '400px'}" *ngIf="tipo=='ver'">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P1. Codigo</span>
                {{datos.codigo}}
            </div>
            <div class="p-field p-col-12 p-md-8">
                <span class="ver-datos">P2. Nombre</span>
                {{datos.nombre_comercial}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P3. Codigo LINAME</span>
                {{datos.codigo_liname.cod_liname}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P4. Codigo LINADIME</span>
                {{datos.codigo_linadime.cod_linadime}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P5. Registro sanitario</span>
                {{datos.reg_san}}
            </div>
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">P6. Referencia</span>
                {{datos.referencia}}
            </div>
        </div>
        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-tags p-mr-2"></i>
                <b>Datos medicamento</b>
            </div>
        </p-divider>
        <br>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">P7. Medicamento</span>
                {{datos.medicamento}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="ver-datos">P8. Forma farmaceutica</span>
                {{datos.form_farm}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="ver-datos">P9. Concentración</span>
                {{datos.concen}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P10. ATQ</span>
                {{datos.atq}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P11. Precio referencial</span>
                {{datos.precio_ref}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P12. Aclaracion de particula</span>
                {{datos.aclara_parti}}
            </div>
        </div>
        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-tags p-mr-2"></i>
                <b>Datos dispositivo</b>
            </div>
        </p-divider>

        <br>

        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <span class="ver-datos">P13. Dispositivo</span>
                {{datos.dispositivo}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span class="ver-datos">P14. Especificacion tecnica</span>
                {{datos.especificacion_tec}}
            </div>
        </div>
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <span class="ver-datos">P15. Presentación</span>
                {{datos.presentacion}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P16. Nivel de uso I</span>
                {{datos.nivel_uso_i}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P17. Nivel de uso II</span>
                {{datos.nivel_uso_ii}}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="ver-datos">P18. Nivel de uso III</span>
                {{datos.nivel_uso_iii}}
            </div>
        </div>
    </p-scrollPanel>
    <ng-template pTemplate="footer">
        <p-button (click)="displayDialog=false;" icon="pi pi-times" label="Cerrar"
            styleClass="p-button-raised p-button-text"></p-button>

    </ng-template>
</p-dialog>